*{
    margin: 0;
}

body{
    background-color:#C80808;
    background-image: url(../img/lowpoly.png);
}

h1{
    width: 100%;
    text-align: center;

    color: white;
}

#label{
    margin-left: 570px;
    color: white;
    
}

#input{
    padding: 12px 20px;
    margin-left: 570px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}

#submit{
    width: 100px;   
    background-color: white;
    text-decoration: solid;
    font-size: 12pt;
    border-radius: 10px;
    margin-left: 620px;
}

#img{
    width: 150px;
}

